@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스타일 초기화 */
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  color: white;
}

/* 그래디언트 테두리 */
.gradient-border {
  padding: 2px; /* 이 값은 테두리의 '두께'를 결정합니다. */
  background: linear-gradient(
    90deg,
    rgba(57, 23, 100, 1) 0%,
    rgba(255, 0, 168, 1) 50%,
    rgba(255, 229, 0, 1) 100%
  );
  border-radius: 10px; /* 둥근 모서리 설정 */
}

.inner-content {
  background: #5d5c67;
  border-radius: 8px;
  padding: 5px 10vw;
}

.entry-btn {
  height: 8vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--color-orange); */
  font-size: 1.2rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(102, 224, 255, 0.20220588235294112) 40%,
    rgba(102, 224, 255, 0.20220588235294112) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* 스크롤 커스텀 */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5c5c5c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}

/* 베이스 폰트 설정 */
@layer base {
  html {
    font-family:
      'Gamtan',
      'Diphylleia',
      'HSBombaram',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
  }
}

/* 로컬 폰트 입력 */
@font-face {
  font-family: 'Diphylleia';
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/Diphylleia-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gamtan';
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/Gamtan_Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Gamtan';
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/Gamtan_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gamtan';
  font-weight: 800;
  font-display: swap;
  src: url('./fonts/Gamtan_Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'HSBombaram';
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/HSBombaram3.0_Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'HSBombaram';
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/HSBombaram3.0_Regular.woff2') format('woff2');
}

.my-swal {
  z-index: 26777275;
}

.AppSize {
  max-width: 1024px;
  min-height: 100vh;
  margin: auto;
}

.TooSmall,
.WebSize {
  display: none;
}

/* 화면 너비가 1024px 이상인 경우 */

@media (min-width: 1024px) {
  .AppSize {
    display: none;
  }

  #WebDesign {
    display: block;
    color: #f2cea2;
    height: 100vh;
  }
}

/* 화면 너비가 360px 미만인 경우 */
@media (max-width: 359px) {
  .AppSize {
    display: none;
  }

  #appWarning {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 3vh;
    font-weight: bold;
    color: #f2cea2;
    background-color: #414141;
    height: 100vh;
  }
}

/* 데이트타임피커 관련 스타일 */
.react-datetime-picker__wrapper {
  padding: 4px 6px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.react-datetime-picker__calendar-button {
  display: none;
}

.react-calendar {
  max-width: 90vw;
  margin-top: 5px;
  font-family: Arial, sans-serif;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.react-datetime-picker__clock {
  display: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__tile:enabled:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* 전역 버튼 스타일 */
button {
  transition: background-color 0.3s ease; /* 부드러운 배경색 변화 */
}